{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}MadisonTime{% endblock title %}</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
            crossorigin="anonymous"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/ed63704ebd.js"
            crossorigin="anonymous"
        ></script>
        {% block css %}
          <link rel="stylesheet" href="{% static 'mt/css/home.css' %}" />
        {% endblock %}
    </head>
    <body>
        <navbar>
          {% if user.is_authenticated %}
            <h1>Welcome, {{user.nickname}}</h1>
            <a href="{% url 'account_change_password' %}">change password</a>
          {% else %}
            <a href="{% url 'account_login' %}">log in</a>
            <a href="{% url 'account_signup' %}">sign up</a>
          {% endif %}
        </navbar>

        <!-- feeds page -->
        <section class="feeds-page">
            <header class="title">Madison Time</header>
            <!-- left -->
            <div class="left">
                <div class="left-content">
                    <div class="left-content-heading home">
                      <a href="{% url 'home' %}" class="buttons">
                        <button type="button" class="home-button">
                            <i class="fa-solid fa-house"></i>Home
                        </button>
                      </a>
                    </div>
                    <div class="left-content-heading schedule">
                        <a href="{% url 'timetable' %}"  class="buttons">
                          <button type="button" class="schedule-button">
                              <i class="fa-solid fa-calendar-days"></i>Schedule
                          </button>
                        </a>
                    </div>
                    <div class="left-content-heading profile">
                        <button type="button" class="profile-button">
                            <i class="fa-solid fa-user"></i>Profile
                        </button>
                    </div>
                    <div class="left-content-heading settings">
                        <button type="button" class="settings-button">
                            <i class="fas fa-gear"></i>Settings
                        </button>
                    </div>
                    {% if user.is_authenticated %}
                      <div class="left-content-heading settings">
                        <a href="{% url 'account_logout' %}" class="buttons"">
                          <button type="button" class="logOut-button"> 
                                <i class="fa-solid fa-right-from-bracket"></i>Log Out
                          </button>
                        </a>
                      </div>
                    {% endif %}
                </div>
            </div>

            <!-- end of left -->
            <!-- right -->
            <div class="right">
                <div class="search-bar">
                    <input
                        type="text"
                        placeholder="Search"
                        class="search-bar-input"
                    />
                </div>
                <div>
                    <button type="button" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <!-- end of right -->
            <!-- center -->
            <div class="center">
            {% block content %}
            {% endblock %}
            </div>
            <!-- end of center -->
        </section>
        <!-- end of feeds page -->
    </body>
</html>
