/* isPost.css */

body {
    font-family: Arial, sans-serif;
}

.post-detail {
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #ca7a7a;;
}

.post-meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.post-content {
    font-size: 16px;
    margin-bottom: 30px;
}

.comments-section {
    margin-top: 40px;
}

.comment {
    border-bottom: 1px solid #ca7a7a;;
    padding: 10px 0;
}

.comment-meta {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.comment-content {
    font-size: 16px;
}

.comment-form {
    margin-top: 20px;
}

.comment-form textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 14px;
}

.comment-form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}


/* 상단 배너가 고정되었을 때 콘텐츠 위치 조정 */
.main-content {
    margin-top: 80px; /* 배너 높이만큼 아래로 밀어줌 */
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    background-color: white;
}
/* common styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fbe7e7;
}
/* end of common styles */
/* login page left */
.side-banner {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #990000;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 66.67%;
    max-width: 20rem;
    padding: 1rem;
    margin: 0;
}

.side-banner ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}
.side-banner li {
    font-size: 1.6rem;
    text-decoration: none;
    color: #555;
    padding: 1rem;
    width: 100%;
    display: block;
    transition: color 0.3s;
}
.side-banner li:last-child {
    margin-left: auto;
}
.side-banner li::after {
    content: "";
    width: 100%;
    height: 0.4rem;
    background-color: #990000;
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}
.side-banner li:hover::after {
    opacity:1;
}
.side-banner a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    width: 100%;
    display: block;
    transition: color 0.3s;
}
.side-banner li:hover a {
    color: #fff;
    background-color: #990000;
}
.side-banner i {
    color: #990000;
    font-size: 2rem;
}

.content-container{
    display: flex;
}