.center-grid{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  width: 100%
}

.center-contents{
  grid-column: 2/3;
  grid-row: 1;
  margin-top: 6rem;
}

.add-post{
  font-size: 16px;
  justify-content: center;
}

/* feed */
.post-contents {
  display: flexbox; /* Change to flexbox */
  flex-direction: column; /* Stack items vertically */
  gap: 10px; /* Space between items */
  border: 3px solid #990000;
  border-radius: 3rem;
  margin: 10px;
  padding: 8px;
  background-color: #fff;
}

.add-post {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  font-size: 16px;
  margin: 20px; 
}

.post-
 {
  font-size: large;
  font-weight: bold;
}

.post-btn {
width: 4rem;
padding: 1.5rem 1rem;
background-color: #990000;
color: #fff;
font-size: 2rem;
border: 0.1rem solid #990000;
border-radius: 3rem;
cursor: pointer;
box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
transition: background-color 0.3s;
}

.post-btn:hover {
  background-color: #ff0000;
}

.empty{
  font-size: large;
}

.title-text {
  grid-column: 1/-1;
  grid-row: 1;
  font-size: large;
  padding: 20px;
}

.date,
.author{
  font-size: small;
  padding-left: 20px;
  padding-top: 5px;
}

.content {
  grid-column: 1/-1;
  grid-row: 2; 
  font-size: 16px;
  padding: 20px;
}

.comment-container {
  display: flex; /* Use flexbox to arrange input and button */
  width: 100%; /* Ensure the container takes full width */
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.comment {
  flex-grow: 0.9; /* Make the input take up remaining space */
  height: 3rem;
  border: 0.1rem solid #990000;
  border-radius: 3rem;
  background-color: #fff;
  padding-left: 1rem;
  box-sizing: border-box; /* Include padding in width */
}

.comment:focus {
  outline: solid #990000;
}

.comment-button {
  width: 4rem; /* Set a fixed width for the button */
  border: none;
  border-radius: 3rem;
  background-color: #fff;
  margin-left: 10px; /* Space between input and button */
  transition: 0.3ms;
  padding-right: 20px;
}


.comment-button:hover {
  color: #fff;
  background-color: #990000;
}

/* end of feed */

/* footer */
footer {
  color: #fff; /* White text */
  text-align: center;
  padding: 10px 0;
  margin-top: 20px; /* Space above the footer */
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  background-color: #b22222; /* Red background for links */
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #f3b8b8; /* Light red on hover */
}

.current {
  display: block;
  padding: 8px 12px;
  background-color: #f3b8b8; /* Highlighted background */
  color: #990000; /* Dark red text */
  border-radius: 5px;
  font-weight: bold;
}


/* end of footer*/
/* end of feeds page */