/* 메인 콘텐츠 영역: 화면 중앙에 정렬 */
.main-content {
    margin-top: 80px; /* 상단 배너 높이만큼 여백 추가 */
    margin-left: 230px; /* left 영역의 너비만큼 왼쪽 여백 추가 */
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    width: 60%; /* 화면에서 중앙에 위치하게 설정 */
}


/* 포스트 콘텐츠 스타일 */
.post-detail {
    padding: 20px;
    background-color: white;
    border: 1px solid #ca7a7a;
    border-radius: 8px;
}

/* thumbs button */
.thumbs_btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.thumbs_btn:hover .fa{
  color: #990000;
  transform: translateY(-1px) scale(1.06);
}

.pressed{
  color: #990000;
}

/* edit and delete buttons */
.ud-post-buttons,
.ud-comment-buttons{
  display: flex;
  gap: 1rem;
}

.ud-comment-buttons{
  margin-top: 1rem;
}

.ud-post-buttons{
  justify-content: right;
}

.edit-button,
.delete-button{
  font-size: 16px;
  color: #990000;
}

/* edit comment section */
.edit-comment-buttons{
  display: flex;
  gap: 1rem;
}

.edit-button{
  background-color: transparent;
  border: none;
  color: #990000;
  cursor: pointer;
}

#id_content{
  width: 100%;
}

/* 제목 및 댓글 스타일 */
.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #ca7a7a;
}

.post-meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.post-content {
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 100%; 
}

.comments-section {
    margin-top: 40px;
}

.comment {
    border-bottom: 1px solid #ca7a7a;
    padding: 10px 0;
}

.comment-meta {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.thumbs{
    margin-left: auto;
}

.fa fa-thumbs-up{

}

.comment-content {
    font-size: 16px;
}

.comment-form {
    margin-top: 20px;
    margin-right: 2.5rem;
}

.comment-form textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 14px;
    margin-top: 1rem;
}

.comment-form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.no-comment{
  margin: 2rem 0;
}

/* common styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

html {
    font-size: 62.5%;
}

/* Styles for buttons */
.home-button,
.schedule-button,
.profile-button,
.settings-button,
.logOut-button {
    background-color: #990000;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.home-button:hover,
.schedule-button:hover,
.profile-button:hover,
.settings-button:hover,
.logOut-button:hover {
    color: #f3b8b8; /* Change hover color */
}


img {
  max-height: 100%;
  max-width: 100%;
}