body{
  background-color: #fff;
}

/* default display */
.content{
grid-column: 2/3;
grid-row: 1;
height: 100%;
}

.timetable-header{
font-size: 5rem;
padding: 0 50px;
padding-bottom: 3rem;
}

.timetable{
  display: grid;
  grid-template-rows: 40px 70vh;
  grid-template-columns: 6rem 7fr;
  justify-items: center;
  margin-left: 4rem;
  margin-right: 10rem;
}

.days{
/* display: grid;
grid-template-rows: 40px;
grid-template-columns: repeat(7, 1fr);
justify-items: center;
grid-gap: 2rem;
margin: 1rem 10rem; */
  width: 100%;
  grid-row: 1/2;
  grid-column: 2/-1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  grid-gap: 2rem;
}

.days h3{
  font-size: 2.5rem;
  justify-content: center;
}

/* .course {
  padding: 10px;
  margin: 5px 0;
  color: white;
  font-size: 1.2rem;
  border: none;
  text-align: center;
} */

.timeline{
  grid-row: 2/-1;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
  padding-right: 0.3rem;
}

.display-courses{
/* display: grid;
grid-template-rows: 60vh;
grid-template-columns: repeat(7, 1fr);
grid-gap: 2rem;
margin: 0 10rem; */
  width: 100%;
  grid-row: 2/-1;
  grid-column: 2/-1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  grid-gap: 2rem;
}

.display {
  width: 100%;
  min-width: 30px;
  background-color: #ddd;
  border-radius: 1rem;
  padding: 0.3rem;
  position: relative;  /* 추가 */
  height: 100%; /* 추가 */    
}

.courses{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  font-size: 2rem;
  /* width: 100%; */
}

.course{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.3rem;
  height: 5.5555%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-course-btn{
position: fixed;
bottom: 4rem;
right: 10rem;
width: 12rem;
padding: 1rem 1rem;
background-color: #9B0000;
color: #fff;
font-size: 2rem;
border: none;
border-radius: 3rem;
cursor: pointer;
box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
transition: color 0.3s;
}

.add-course-btn:hover{
color: #f3b8b8;
}
/* end of default display */

/* add modal */
.modal-wrapper,
.course-modal-wrapper{
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.modal-wrapper-display,
.course-modal-wrapper-display{
  opacity: 1;
  visibility: visible;
}

.modal,
.course-modal{
  position: relative;
  top: 50%;
  left: 50%;
  background-color: #ddd;
  width: 60vw;
  min-width: 500px;
  height: 70vh;
  min-height: 700px;
  border-radius: 1.5rem;
  transform: translate(-50%, -50%);
  display: none;
}

.modal-header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header h3{
  padding-top: 5rem;
  padding-left: 5rem;
  font-size: 4rem;
}

.modal-header i {
  font-size: 2.3rem;
  color: #333;
  margin-right: 5rem;
  /* cursor: pointer; */
}

.input-wrapper{
  display: grid;
  align-items: center;
  grid-template-rows: 5rem 5rem 5rem 5rem 8rem auto;
  grid-template-columns: 2fr 3fr;
  padding-top: 6rem;
}

.course-name{
  margin-left: 5rem;
  font-size: 2rem;
  grid-row: 1;
  grid-column: 1;
}

.course-name-input{
  grid-row: 1;
  grid-column: 2;
  height: 40%;
  width: 70%
}

.location{
  margin-left: 5rem;
  font-size: 2rem;
  grid-row: 2;
  grid-column: 1;
}

.location-input{
  grid-row: 2;
  grid-column: 2;
  height: 40%;
  width: 70%;
}

.from{
  margin-left: 5rem;
  font-size: 2rem;
  grid-row: 3;
  grid-column: 1;
}

.from-input{
  grid-row: 3;
  grid-column: 2;
  height: 40%;
  width: 40%;
}

.to{
  margin-left: 5rem;
  font-size: 2rem;
  grid-row: 4;
  grid-column: 1;
}

.to-input{
  grid-row: 4;
  grid-column: 2;
  height: 40%;
  width: 40%;
}

.color{
  margin-left: 5rem;
  font-size: 2rem;
  grid-row: 5;
  grid-column: 1;
}

.course-color{
  grid-row: 5;
  grid-column: 2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.course-color::-webkit-color-swatch{
  border-radius: 50%;
  border: 7px solid #000;
}

.course-color::-moz-color-swatch{
  border-radius: 50%;
  border: 7px solid #000;
}

.error-message-container {
  /* grid-row: 6; */
  grid-column: 1/-1;
  margin-left: 5rem;
  font-size: 1.5rem;
  color: #ff0000;
}

.error-message{
  padding: 0.5rem;
}

.add{
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  width: 12rem;
  padding: 1rem 1rem;
  background-color: #9B0000;
  color: #fff;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
  outline: none;
}

.add:hover{
  color: #f3b8b8;
}

.days-wrapper{
  /* display: absolute; */
  margin-bottom: 5rem;
}

form{
  display: relative;
}

.days-text{
  margin-left: 5rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.days-button-wrapper{
  display: flex;
  margin-left: 5rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.days-button,
.course-days-button{
  display: flex;
  position: relative;
  width: 40px;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.5em;
  border: 0;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.m-button:active,
.t-button:active,
.w-button:active,
.th-button:active,
.f-button:active,
.s-button:active,
.su-button:active,
.c-m-button:active,
.c-t-button:active,
.c-w-button:active,
.c-th-button:active,
.c-f-button:active,
.c-s-button:active,
.c-su-button:active,
.active {
  top: 2px;
  left: 1px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: pink;
}
/* end of add modal */

/* course detail modal */
.course-container {
  display: flex;
  gap: 1rem; 
  justify-content: center;
  margin-top: 2rem; 
}

.edit, 
.delete {
  width: 12rem;
  padding: 1rem 1rem;
  background-color: #9B0000;
  color: #fff;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
  outline: none;
}

.edit:hover, .delete:hover{
  color: #f3b8b8;
}

.info {
  font-size: 2rem;
}
/* end of course detail modal */