{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MadisonTime</title>
        <link rel="stylesheet" href="{% static 'mt/css/email_confirmation_required.css' %}" />
        <link
            href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
      <div class="email-confirmation">
        <p class="message"> You must verify your email address in order create a post or comment. We've sent you an email to {{ user.email }}. Please check and comlete the email confirmation.
        </p>
        <a class="redirect" href="{% url 'home' %}">Home</a>
      </div>
    </body>
</html>