{% extends "mt_base/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "mt/css/login.css"%}"/>
{% endblock %}

{% block content %}
<div class="login">
    <div class="login-content">
        <h2>Log in to MadisonTime</h2>
        <form method="post" action="{% url 'account_login' %}?next={{request.GET.next|default:''}}" class="login-form">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
              <div class="error-message">{{ error }}</div>
            {% endfor %}
            <p>
                <label class="visually-hidden">Email</label>
                {{ form.login|add_class:"mt-input"|attr:"placeholder:Email"|add_error_class:"error"}}
                {% for error in form.login.errors %}
                  <div class="error-message">{{ error }}</div>
                {% endfor %}
                <a href="#" class="forgot-link">Forgot ID</a>
            </p>
            <p>
                <label for="password" class="visually-hidden">Password</label>
                {{ form.password|add_class:"mt-input"|attr:"placeholder:Password"|add_error_class:"error"}}
                {% for error in form.password.errors %}
                  <div class="error-message">{{ error }}</div>
                {% endfor %}
                <a href="{% url 'account_reset_password' %}" class="forgot-link">Forgot Password</a>
            </p>
            <div>
                <button type="submit" class="login-form-btn">Log In</button>
                <input type="checkbox" class="login-form-checkbox" id="check">
                <label for="check">Remember me</label>
                <a href="{% url 'account_signup' %}" class="signup-link">sign-up</a>
            </div>
        </form>
    </div> 
  </div>
<!-- end of login -->
{% endblock %}