{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap"
      rel="stylesheet"
    />
    <script
            src="https://kit.fontawesome.com/ed63704ebd.js"
            crossorigin="anonymous"
        ></script>
    <link rel="stylesheet" href="{% static 'mt/css/password_reset.css' %}" />
    <title>MadisonTime</title>
</head>
<body>


    <!-- findPW page -->
    <section class="find-account-page">
        <div class="find-password-container">
            <h2>Reset Your Password</h2>
            <p>Enter your email address and username to reset your password.</p>
            <form class="find-password-form" method="post">
                {% csrf_token %}
                <p>
                    <label for="find-password-email">Email</label>
                    {% comment %} <input type="email" id="find-password-email" placeholder="Enter your email" required /> {% endcomment %}
                    {{ form.email|attr:"placeholder:Enter your Email"|add_error_class:"error" }}
                    {% for error in form.email.errors %}
                      <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </p>
                {% comment %} <p>
                    <label for="find-password-username">Username</label>
                    <input type="text" id="find-password-username" placeholder="Enter your username" required />
                </p> {% endcomment %}
                <button type="submit" class="find-password-btn">Reset Password</button>
            </form>
            <div class="back-link-container">
                <p><a href="{% url 'account_login' %}" class="back-link">Back to Login</a></p>
            </div>
        </div>
    </section>
    
    <!-- end of findID page -->
    
     <script src="script.js"></script>
</body>
</html>