{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap"
      rel="stylesheet"
    />
    <script
            src="https://kit.fontawesome.com/ed63704ebd.js"
            crossorigin="anonymous"
        ></script>
    <link rel="stylesheet" href="{% static 'mt/css/signup.css' %}" />
    <title>Sign Up | MadisonTime</title>
</head>
<body>

    <!-- SignUp page -->
    <section class="SignUp-page">
        <!-- SignUp -->
         <div class="SignUp">
            <div class="SignUp-content">
                <h2>Create Your MadisonTime Account</h2>
                <form class="SignUp-form" method="post">
                  {% csrf_token %}
                    <p>
                        <label for="email" class="visually-hidden">Email</label>
                        {{ form.email|add_class:"mt-input"|attr:"placeholder:Enter your Email"|add_error_class:"error"}}
                        {% for error in form.email.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </p>
                    <p>
                        <label for="nickname" class="visually-hidden">Nickname</label>
                        {{ form.nickname|add_class:"mt-input"|attr:"placeholder:Enter your Username"|add_error_class:"error"}}
                        {% for error in form.nickname.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </p>
                    <p>
                        <label for="password" class="visually-hidden">Password</label>
                        {{ form.password1|add_class:"mt-input"|attr:"placeholder:Enter your Password"|add_error_class:"error"}}
                        {% for error in form.password1.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </p>
                    <p>
                        <label for="confirm-password" class="visually-hidden">Confirm Password</label>
                        {{ form.password2|add_class:"mt-input"|attr:"placeholder:Confirm Password"|add_error_class:"error"}}
                        {% for error in form.password2.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </p>
                    <div>
                        <button type="submit" class="SignUp-form-btn">Sign Up</button>
                        <input type="checkbox" class="SignUp-form-checkbox" id="terms" required>
                        <label for="terms">I agree to the Terms and Conditions</label>
                    </div>
                    <div class="login-link-container">
                        <p>Already have an account? <a href="{% url 'account_login' %}" class="login-link">Log In</a></p>
                    </div>
                </form>
            </div>
         </div>
        <!-- end of SignUp -->
    </section>
    
    <!-- end of SignUp page -->
    
     <script src="script.js"></script>
</body>
</html>