{% extends "mt_base/base_no_search.html" %} 
{% load static %}
{% load widget_tweaks %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href={% static "mt/css/signup.css" %} />
{% endblock css %}

{% block title %}
SignUp | MadisonTime
{% endblock title %}

{% block content %}
    <!-- SignUp page -->
    <section class="SignUp-page">
        <!-- SignUp -->
         <div class="SignUp">
            <div class="SignUp-content">
                <h2>Create Your MadisonTime Account</h2>
                <form class="SignUp-form" method="post">
                  {% csrf_token %}
                    <p>
                        <label for="email" class="visually-hidden">Email</label>
                        {{ form.email|add_class:"mt-input"|attr:"placeholder:Enter your Email"|add_error_class:"error"}}
                        {% for error in form.email.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </p>
                    <p>
                        <label for="nickname" class="visually-hidden">Nickname</label>
                        {{ form.nickname|add_class:"mt-input"|attr:"placeholder:Enter your Username"|add_error_class:"error"}}
                        {% for error in form.nickname.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </p>
                    <p>
                        <label for="password" class="visually-hidden">Password</label>
                        {{ form.password1|add_class:"mt-input"|attr:"placeholder:Enter your Password"|add_error_class:"error"}}
                        {% for error in form.password1.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </p>
                    <p>
                        <label for="confirm-password" class="visually-hidden">Confirm Password</label>
                        {{ form.password2|add_class:"mt-input"|attr:"placeholder:Confirm Password"|add_error_class:"error"}}
                        {% for error in form.password2.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </p>
                    <div>
                        <button type="submit" class="SignUp-form-btn">Sign Up</button>
                        <input type="checkbox" class="SignUp-form-checkbox" id="terms" required>
                        <label for="terms">I agree to the Terms and Conditions</label>
                    </div>
                    <div class="login-link-container">
                        <p>Already have an account? <a href="{% url 'account_login' %}" class="login-link">Log In</a></p>
                    </div>
                </form>
            </div>
         </div>
        <!-- end of SignUp -->
    </section>
{% endblock content %}