{% extends "mt_base/base.html" %} 
{% load static %}
{% load widget_tweaks %}

    {% block css %}
      {{ block.super }}
      <link rel="stylesheet" href={% static "mt/css/post_detail.css" %} />
    {% endblock css %}

    {% block title %}
    {{post.title}} | MadisonTime
    {% endblock title %}
    
        
        {% comment %} <div class="main-content">
            <div class="left">
                <div class="left-content">
                  <div class="left-content-heading home">
                    <a href="{% url 'home' %}" class="buttons">
                      <button type="button" class="home-button">
                          <i class="fa-solid fa-house"></i>Home
                      </button>
                    </a>
                  </div>
                  <div class="left-content-heading schedule">
                      <a href="{% url 'timetable' %}"  class="buttons">
                        <button type="button" class="schedule-button">
                            <i class="fa-solid fa-calendar-days"></i>Schedule
                        </button>
                      </a>
                  </div>
                    <div class="left-content-heading profile">
                        <button type="button" class="profile-button">
                            <i class="fa-solid fa-user"></i>Profile
                        </button>
                    </div>
                    <div class="left-content-heading settings">
                        <button type="button" class="settings-button" onclick="location.href='Setting.html'">
                            <i class="fas fa-gear"></i>Settings
                        </button>
                    </div>
                    {% if user.is_authenticated %}
                      <div class="left-content-heading settings">
                        <a href="{% url 'account_logout' %}" class="buttons">
                          <button type="button" class="logOut-button"> 
                                <i class="fa-solid fa-right-from-bracket"></i>Log Out
                          </button>
                        </a>
                      </div>
                    {% endif %}
                </div>
            </div> {% endcomment %}

            {% block content %}
            <div class="main-content">
              <div class="post-detail">
                  <h1 class="post-title">{{post.title}}</h1>
                  <div class="post-meta">Author: {{post.author.nickname}} | Date: {{post.dt_created|date:"M, d Y H:i"}}
                      {% if post.edited == True %} | Last edited: {{post.dt_updated|date:"M d, Y H:i"}}
                      {% endif %}
                  </div>
                  <div class="post-content">
                      {{ post.content|linebreaksbr }}
                      {% if post.image1 %}
                        <img class="image1" src="{{post.image1.url}}">
                      {% endif %}
                      {% if post.image2 %}
                        <img class="image2" src="{{post.image2.url}}">
                      {% endif %}
                      {% if post.image3 %}
                        <img class="image3" src="{{post.image3.url}}">
                      {% endif %}
                  </div>
                  {% if post.author == user %}
                    <div class="ud-post-buttons">
                      <div class="edit-post">
                          <a class = "edit-button" href="{% url 'post-update' post.id %}">Edit</a>
                      </div>
                      <div class="delete-post">
                          <a 
                            class = "delete-button" 
                            href="{% url 'post-delete' post.id %}"
                            onclick="return confirm('Would you like to delete this post?');"
                          >Delete</a>
                      </div>
                    {% endif %}
                  </div>

                  <div class="comments-section">
                      <h2>Comments</h2>
                      {% if post.comments.all %}
                          {% for comment in post.comments.all %}
                            {% if edit_comment and comment.id == edit_comment.id %}
                              <div class="comment-meta">
                                {{comment.author.nickname}} | Date: {{comment.dt_created|date:"M, d Y H:i"}}
                                {% if comment.edited %} | Last edited: {{comment.dt_updated|date:"M d, Y H:i"}}
                                {% endif %}
                              </div>
                              <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="edit_comment_id" value="{{ edit_comment.id }}">
                                {{ edit_form.content }}
                                <div class="edit-comment-buttons">
                                  <div class="confirm-edit">
                                      <button type="submit" class="edit-button">Submit</button>
                                  </div>
                                  <div class="cancel-edit">
                                      <a class = "delete-button" href="{% url 'post-detail' post.id %}">Cancel</a>
                                  </div>
                                </div>
                              </form>
                            {% else %}
                              <div class="comment">
                                <div class="comment-meta">
                                  {{comment.author.nickname}} | Date: {{comment.dt_created|date:"M, d Y H:i"}}
                                  {% if comment.edited %} | Last edited: {{ comment.dt_updated|date:"M d, Y H:i" }}
                                  {% endif %}
                                  <div class="thumbs" data-comment-id="{{ comment.id }}">
                                    <form method="post" action="{% url 'post-detail' post.id %}" style="display:inline">
                                      {% csrf_token %}
                                      <input type="hidden" name="like_comment_id" value="{{ comment.id }}">
                                      <button type="submit" class="thumbs_btn {% if user in comment.likes.all %}pressed{% endif %}">
                                        <i class="fa fa-thumbs-up"></i>
                                      </button>
                                      <span class="likes-count">{{ comment.likes.count }}</span>
                                    </form>
                                    |
                                    <form method="post" action="{% url 'post-detail' post.id %}" style="display:inline">
                                      {% csrf_token %}
                                      <input type="hidden" name="dislike_comment_id" value="{{ comment.id }}">
                                      <span class="dislikes-count">{{ comment.dislikes.count }}</span>
                                      <button type="submit" class="thumbs_btn {% if user in comment.likes.all %}pressed{% endif %}">
                                        <i class="fa fa-thumbs-down"></i>
                                      </button>
                                    </form>
                                  </div>
                                </div>
                                
                                <div class="comment-content">{{comment.content}}</div>
                                {% if comment.author == user %}
                                <div class="ud-comment-buttons">
                                  <div class="edit-comment">
                                      <a class ="edit-button" href="?edit_comment={{comment.id}}">Edit</a>
                                  </div>
                                  <div class="delete-comment">
                                    <div class="delete-post">
                                        <a 
                                          class = "delete-button" 
                                          href="{% url 'comment-delete' comment.id %}"
                                          onclick="return confirm('Would you like to delete this comment?');"
                                        >Delete</a>
                                    </div>
                                  </div>
                                </div>
                                {% endif %}
                              </div>
                            {% endif %}
                          {% endfor %}
                      {% else %}
                          <h3 class="no-comment">No comments... Be the first one to comment!</h3>
                      {% endif %}
                  </div>

                  <div class="comment-form">
                      <h2>Add Comment</h2>
                      <form method="POST" autocomplete="off">
                        {% csrf_token %}
                        {{form.content|add_class:"comment-input"|attr:"placeholder:Add comment...."}}
                        {% for error in form.content.errors %}
                        <div class="error-message">{{error}}</div>
                        {% endfor %}
                        <button type="submit">Add Comment</button>
                      </form>
                  </div>
              </div>
          </div>
        </div>
        {%endblock content%}
{% comment %}     
</body>
</html> {% endcomment %}
  