{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous"
    />
    <link
        href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap"
        rel="stylesheet"
    />
    <script
            src="https://kit.fontawesome.com/ed63704ebd.js"
            crossorigin="anonymous"
        ></script>
    <link rel="stylesheet" href="{% static 'mt/css/timetable.css' %}" />
  </head>
  <body>
    <!-- feeds page -->
    <section class="content-wrapper">
      <!-- <header class="title">Madison Time</header> -->
      <!-- left -->
      <div class="left">
        <div class="left-content">
          <div class="left-content-heading home">
            <a href="{% url 'home' %}" class="buttons">
              <button type="button" class="home-button">
                  <i class="fa-solid fa-house"></i>Home
              </button>
            </a>
          </div>
          <div class="left-content-heading schedule">
              <a href="{% url 'timetable' %}"  class="buttons">
                <button type="button" class="schedule-button">
                    <i class="fa-solid fa-calendar-days"></i>Schedule
                </button>
              </a>
          </div>
          <div class="left-content-heading profile">
              <button type="button" class="profile-button"><i class="fa-solid fa-user"></i>Profile</button>
          </div>
          <div class="left-content-heading settings">
              <button type="button" class="settings-button"><i class="fas fa-gear"></i>Settings</button>
          </div>
        </div>
      </div>
      <!-- end of left --> 

      <!-- default display -->
      <div class="content">
        <h1 class="timetable-header">My Timetable</h1>
        {% if courses %}
          {% for course in courses %}
            {{ course.name }}
          {% endfor %}
        {% endif %}
        <div class="timetable">
          <div class="days">
            <h3 class="weekdays">Mon</h3>
            <h3 class="weekdays">Tue</h3>
            <h3 class="weekdays">Wed</h3>
            <h3 class="weekdays">Thu</h3>
            <h3 class="weekdays">Fri</h3>
            <h3 class="weekends">Sat</h3>
            <h3 class="weekends">Sun</h3>
          </div>
          <div class="display-courses">
            <div class="monday"></div>
            <div class="tuesday"></div>
            <div class="wednesday"></div>
            <div class="thursday"></div>
            <div class="friday"></div>
            <div class="saturday"></div>
            <div class="sunday"></div>
          </div>
        </div>
        <button type="button" class="add-course-btn">+ Course</button>
      </div>
      <!-- end of default display -->
    </section>
    <!-- end of feeds page -->

    <!-- add course modal -->
    <div class="modal-wrapper">
      <div class="modal">
        <div class="modal-header">
          <h3 class="modal-title">Add a Course</h3>
          <i class="fas fa-times"></i>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="input-wrapper">
            <div class="course-name">Course Name</div>
            {{form.name|add_class:"course-name-input"}}
            {% for error in form.name.errors %}
              <div class="error-message">{{error}}</div>
            {% endfor %}
            <div class="location">Location</div>
            {{form.location|add_class:"location-input"}}
            {% for error in form.location.errors %}
              <div class="error-message">{{error}}</div>
            {% endfor %}
            <div class="from">From</div>
            {{form.time_from|add_class:"from-input"}}
            {% for error in form.time_from.errors %}
              <div class="error-message">{{error}}</div>
            {% endfor %}
            <div class="to">To</div>
            {{form.time_to|add_class:"to-input"}}
            {% for error in form.time_to.errors %}
              <div class="error-message">{{error}}</div>
            {% endfor %}
            <div class="color">Select color for this course</div>
            <input type="color" name="color" value="#ff0000" class="course-color">
            {% for error in form.color.errors %}
              <div class="error-message">{{error}}</div>
            {% endfor %}
          </div>
          <button type="submit" class="add">Add</button>
          <div class="days-text">Select days</div>
          <div class="days-button-wrapper">
            <input type="hidden" name="mon" id="mon" value="{{ course.mon }}">
            <button type="button" class="days-button m-button">M</button>
            <input type="hidden" name="tue" id="tue" value="{{ course.tue }}">
            <button type="button" class="days-button t-button">T</button>
            <input type="hidden" name="wed" id="wed" value="{{ course.wed }}">
            <button type="button" class="days-button w-button">W</button>
            <input type="hidden" name="thu" id="thu" value="{{ course.thu }}">
            <button type="button" class="days-button th-button">Th</button>
            <input type="hidden" name="fri" id="fri" value="{{ course.fri }}">
            <button type="button" class="days-button f-button">F</button>
            <input type="hidden" name="sat" id="sat" value="{{ course.sat }}">
            <button type="button" class="days-button s-button">S</button>
            <input type="hidden" name="sun" id="sun" value="{{ course.sun }}">
            <button type="button" class="days-button su-button">Su</button>
          </div>
        </form>
      </div>
    </div>
    <!-- end of add course modal -->
    <script src="{% static 'mt/js/timetable.js' %}"></script>
  </body>
</html> 