{% extends "mt_base/base_no_search.html" %} 
{% load static %}
{% load widget_tweaks %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href={% static "mt/css/timetable.css" %} />
{% endblock css %}

{% block content %}
  <!-- default display -->
  <div class="content">
    <h1 class="timetable-header">My Timetable</h1>
    <div class="timetable">
      <div class="days">
        <h3 class="weekdays">Mon</h3>
        <h3 class="weekdays">Tue</h3>
        <h3 class="weekdays">Wed</h3>
        <h3 class="weekdays">Thu</h3>
        <h3 class="weekdays">Fri</h3>
        <h3 class="weekends">Sat</h3>
        <h3 class="weekends">Sun</h3>
      </div>
      <div class="timeline">
        <div class="time-slot">6:00 AM</div>
        <div class="time-slot">7:00 AM</div>
        <div class="time-slot">8:00 AM</div>
        <div class="time-slot">9:00 AM</div>
        <div class="time-slot">10:00 AM</div>
        <div class="time-slot">11:00 AM</div>
        <div class="time-slot">12:00 PM</div>
        <div class="time-slot">1:00 PM</div>
        <div class="time-slot">2:00 PM</div>
        <div class="time-slot">3:00 PM</div>
        <div class="time-slot">4:00 PM</div>
        <div class="time-slot">5:00 PM</div>
        <div class="time-slot">6:00 PM</div>
        <div class="time-slot">7:00 PM</div>
        <div class="time-slot">8:00 PM</div>
        <div class="time-slot">9:00 PM</div>
        <div class="time-slot">10:00 PM</div>
        <div class="time-slot">11:00 PM</div>
        <div class="time-slot">12:00 AM</div>
      </div>
      <div class="display-courses">
        <div class="display monday">
          <div class="courses mon">
          {% if courses %}
            {% for course in courses %}
              {% if course.mon %}
                {% comment %} <a href="{% url 'course-detail' course.id %}" class="course-detail"> {% endcomment %}
                  <div class="course" style="background-color:{{course.color}};height:{{course.height}}%;top:{{course.position}}%;" onclick="showModal('{{ course.id }}', '{{ course.name }}', '{{ course.location }}', '{{ course.time_from }}', '{{ course.time_to }}', '{{ course.color }}', '{{ course.mon }}', '{{ course.tue }}', '{{ course.wed }}', '{{ course.thu }}', '{{ course.fri }}', '{{ course.sat }}', '{{ course.sun }}')">{{ course.name }}<br>{{course.time_from}}-{{course.time_to}}</div>
                {% comment %} </a> {% endcomment %}
              {% endif %}
            {% endfor %}
          {% endif %}
          </div>
        </div>
        <div class="display tuesday">
          <div class="courses tue">
            {% if courses %}
              {% for course in courses %}
                {% if course.tue %}
                  {% comment %} <a href="{% url 'course-detail' course.id %}" class="course-detail"> {% endcomment %}
                    <div class="course" style="background-color:{{course.color}};height:{{course.height}}%;top:{{course.position}}%;" onclick="showModal('{{ course.id }}', '{{ course.name }}', '{{ course.location }}', '{{ course.time_from }}', '{{ course.time_to }}', '{{ course.color }}', '{{ course.mon }}', '{{ course.tue }}', '{{ course.wed }}', '{{ course.thu }}', '{{ course.fri }}', '{{ course.sat }}', '{{ course.sun }}')">{{ course.name }}<br>{{course.time_from}}-{{course.time_to}}</div>
                  {% comment %} </a> {% endcomment %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="display wednesday">
          <div class="courses wed">
            {% if courses %}
              {% for course in courses %}
                {% if course.wed %}
                  {% comment %} <a href="{% url 'course-detail' course.id %}" class="course-detail"> {% endcomment %}
                    <div class="course" style="background-color:{{course.color}};height:{{course.height}}%;top:{{course.position}}%;" onclick="showModal('{{ course.id }}', '{{ course.name }}', '{{ course.location }}', '{{ course.time_from }}', '{{ course.time_to }}', '{{ course.color }}', '{{ course.mon }}', '{{ course.tue }}', '{{ course.wed }}', '{{ course.thu }}', '{{ course.fri }}', '{{ course.sat }}', '{{ course.sun }}')">{{ course.name }}<br>{{course.time_from}}-{{course.time_to}}</div>
                  {% comment %} </a> {% endcomment %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="display thursday">
          <div class="courses thu">
            {% if courses %}
              {% for course in courses %}
                {% if course.thu %}
                  {% comment %} <a href="{% url 'course-detail' course.id %}" class="course-detail"> {% endcomment %}
                    <div class="course" style="background-color:{{course.color}};height:{{course.height}}%;top:{{course.position}}%;" onclick="showModal('{{ course.id }}', '{{ course.name }}', '{{ course.location }}', '{{ course.time_from }}', '{{ course.time_to }}', '{{ course.color }}', '{{ course.mon }}', '{{ course.tue }}', '{{ course.wed }}', '{{ course.thu }}', '{{ course.fri }}', '{{ course.sat }}', '{{ course.sun }}')">{{ course.name }}<br>{{course.time_from}}-{{course.time_to}}</div>
                  {% comment %} </a> {% endcomment %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="display friday">
          <div class="courses fri">
            {% if courses %}
              {% for course in courses %}
                {% if course.fri %}
                  {% comment %} <a href="{% url 'course-detail' course.id %}" class="course-detail"> {% endcomment %}
                    <div class="course" style="background-color:{{course.color}};height:{{course.height}}%;top:{{course.position}}%;" onclick="showModal('{{ course.id }}', '{{ course.name }}', '{{ course.location }}', '{{ course.time_from }}', '{{ course.time_to }}', '{{ course.color }}', '{{ course.mon }}', '{{ course.tue }}', '{{ course.wed }}', '{{ course.thu }}', '{{ course.fri }}', '{{ course.sat }}', '{{ course.sun }}')">{{ course.name }}<br>{{course.time_from}}-{{course.time_to}}</div>
                  {% comment %} </a> {% endcomment %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="display saturday">
          <div class="courses sat">
            {% if courses %}
              {% for course in courses %}
                {% if course.sat %}
                  {% comment %} <a href="{% url 'course-detail' course.id %}" class="course-detail"> {% endcomment %}
                    <div class="course" style="background-color:{{course.color}};height:{{course.height}}%;top:{{course.position}}%;" onclick="showModal('{{ course.id }}', '{{ course.name }}', '{{ course.location }}', '{{ course.time_from }}', '{{ course.time_to }}', '{{ course.color }}', '{{ course.mon }}', '{{ course.tue }}', '{{ course.wed }}', '{{ course.thu }}', '{{ course.fri }}', '{{ course.sat }}', '{{ course.sun }}')">{{ course.name }}<br>{{course.time_from}}-{{course.time_to}}</div>
                  {% comment %} </a> {% endcomment %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="display sunday">
          <div class="courses sun">
            {% if courses %}
              {% for course in courses %}
                {% if course.sun %}
                  {% comment %} <a href="{% url 'course-detail' course.id %}" class="course-detail"> {% endcomment %}
                    <div class="course" style="background-color:{{course.color}};height:{{course.height}}%;top:{{course.position}}%;" onclick="showModal('{{ course.id }}', '{{ course.name }}', '{{ course.location }}', '{{ course.time_from }}', '{{ course.time_to }}', '{{ course.color }}', '{{ course.mon }}', '{{ course.tue }}', '{{ course.wed }}', '{{ course.thu }}', '{{ course.fri }}', '{{ course.sat }}', '{{ course.sun }}')">{{ course.name }}<br>{{course.time_from}}-{{course.time_to}}</div>
                  {% comment %} </a> {% endcomment %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="add-course-btn">+ Course</button>
  </div>
  <!-- end of default display -->
</section>
<!-- end of feeds page -->

<!-- add course modal -->
  <div class="modal-wrapper {% if modal_open %}modal-wrapper-display{% endif %}" id="modal-wrapper">
    <div class="modal" {% if modal_open %}style="display: block;"{% endif %}>
      <div class="modal-header">
        {% if edit_course %}
          <h3 class="modal-title">Edit Course</h3>
        {% else %}
          <h3 class="modal-title">Add a Course</h3>
        {% endif %}
        <a href="{% url 'timetable' %}">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="course_id" value="{{ edit_course.id|default:'' }}">

        <div class="input-wrapper">
          <div class="course-name">Course Name</div>
          {{form.name|add_class:"course-name-input"}}
          {% for error in form.name.errors %}
            <div class="error-message">{{error}}</div>
          {% endfor %}
          <div class="location">Location</div>
          {{form.location|add_class:"location-input"}}
          {% for error in form.location.errors %}
            <div class="error-message">{{error}}</div>
          {% endfor %}
          <div class="from">From</div>
          {{form.time_from|add_class:"from-input"}}
          {% for error in form.time_from.errors %}
            <div class="error-message">{{error}}</div>
          {% endfor %}
          <div class="to">To</div>
          {{form.time_to|add_class:"to-input"}}
          {% for error in form.time_to.errors %}
            <div class="error-message">{{error}}</div>
          {% endfor %}
          <div class="color">Select color for this course</div>
          <input type="color" name="color" value="{{ form.color.value|default:'#ff0000' }}" class="course-color">
          {% for error in form.color.errors %}
            <div class="error-message">{{error}}</div>
          {% endfor %}
        </div>
        <button type="submit" class="add">Add</button>
        {% comment %} {% if error_message %}
            <div class="error-message">
                {% for field, messages in error_message.items %}
                    <strong>{{ field }}:</strong>
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %} {% endcomment %}
        <div class="days-text">Select days</div>
        <div class="days-button-wrapper">
          <input type="hidden" name="mon" id="mon" value="{{edit_course.mon}}">
          <button type="button" class="days-button m-button 
          {% if edit_course.mon %}active{% endif %}">M</button>
          <input type="hidden" name="tue" id="tue" value="{{edit_course.tue}}">
          <button type="button" class="days-button t-button 
          {% if edit_course.tue %}active{% endif %}">T</button>
          <input type="hidden" name="wed" id="wed" value="{{edit_course.wed}}">
          <button type="button" class="days-button w-button 
          {% if edit_course.wed %}active{% endif %}">W</button>
          <input type="hidden" name="thu" id="thu" value="{{edit_course.thu}}">
          <button type="button" class="days-button th-button 
          {% if edit_course.thu %}active{% endif %}">Th</button>
          <input type="hidden" name="fri" id="fri" value="{{edit_course.fri}}">
          <button type="button" class="days-button f-button 
          {% if edit_course.fri %}active{% endif %}">F</button>
          <input type="hidden" name="sat" id="sat" value="{{edit_course.sat}}">
          <button type="button" class="days-button s-button 
          {% if edit_course.sat %}active{% endif %}">S</button>
          <input type="hidden" name="sun" id="sun" value="{{edit_course.sun}}">
          <button type="button" class="days-button su-button 
          {% if edit_course.sun %}active{% endif %}">Su</button>
        </div>
        <script>
          $(document).ready(function() {
              {% if form.errors %}
                $("#modal-wrapper").modal("show");
              {% endif %}
          });
        </script>
      </form>
      
    </div>
  </div>
<!-- end of add course modal -->

<!-- course detail modal -->
<div class="course-modal-wrapper" id="course-modal-wrapper">
  <div class="course-modal">
    <div class="modal-header">
      <h3 class="modal-title">Course Detail</h3>
      <i class="fas fa-times" onclick="closeModal()"></i>
    </div>
    <div class="input-wrapper">
        <div class="course-name">Course Name</div>
        <div class="info" id="modal-course-name"></div>
        <div class="location">Location</div>
        <div class="info" id="modal-course-location"></div>
        <div class="from">From</div>
        <div class="info" id="modal-course-time-from"></div>
        <div class="to">To</div>
        <div class="info" id="modal-course-time-to"></div>
        <div class="color">Color</div>
        <div id="modal-course-color" style="border-radius:50%;height:50px;width:50px;"></div>
    </div>

    <div class="days-text">Days</div>
    <div class="days-button-wrapper">
      <button type="button" class="course-days-button c-m-button">M</button>
      <button type="button" class="course-days-button c-t-button">T</button>
      <button type="button" class="course-days-button c-w-button">W</button>
      <button type="button" class="course-days-button c-th-button">Th</button>
      <button type="button" class="course-days-button c-f-button">F</button>
      <button type="button" class="course-days-button c-s-button">S</button>
      <button type="button" class="course-days-button c-su-button">Su</button>
    </div>

    <div class="course-container">
      <a class ="edit-button" href="?edit_course=" id="edit-course-link">
        <button type="button" class="edit">Edit</button>
      </a>
      <a 
        class="delete-button"
        href=""
        id="delete-course-link"
        onclick="return confirm(
        'Would you like to delete this course?');">
        <button type="button" class="delete">Delete</button>
      </a>
    </div>
  </div>
</div>
<!-- end of course detail modal -->

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="{% static 'mt/js/timetable.js' %}"></script>
{% endblock content %}